body {
    background-color: #bcc8f1;
    background: linear-gradient(to right, #c7b5b5, #b7c1e4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.main {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 500px;
    max-width: 100%;
    min-height: 480px;
}

.triangle {
    width: 350px;
    height: 200p  
}

.circle {
    width: 350px;
    height: 200p   
}

.trapeze {
    width: 350px;
    height: 200p 
}

.square {
    width: 350px;
    height: 200p  
}