* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.hello { 
    height: 80px;
    background-color: whitesmoke;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 80%;
    min-width: 320px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.begin { 
    height: 20px;
    width: 110px;
    background-color: #bcc8f1;
    background: linear-gradient(to right, #c7b5b5, #b7c1e4);
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 20px;
    text-align: center;
    color: black;
}

.login {
    height: 20px;
    width: 110px;
    background-color: #bcc8f1;
    background: linear-gradient(to right, #c7b5b5, #b7c1e4);
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    margin-right: 8px;
    text-align: center;
    color: black;
     
}

h1 {
    display: flex;
    justify-content: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}

.greetings {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.form_group {
    margin-bottom: 15px;
}

.create_article_form {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.create_article_form label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    
}

.create_article_form textarea {
    border: 1px lightgray solid;
    border-radius: 5px;
    width: 100%;
    height: 150px;
    resize: vertical;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.create_article_form input[type="text"],
.create_article_form input[type="file"],
.create_article_form input[type="password"]{
    width: 80%;
    border: 1px lightgray solid;
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.create_article_form button {
    cursor: pointer;
    padding: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



@media (max-width: 768px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .header_btn {
        margin-bottom: 8px;
    }
}

