<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Примеры</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>
<body>
  <h1>Квиз: Учись решить примеры</h1>
  <div class="question-container">
    
    <div id="question1" class="question">
      <p>Сколько будет 3 + 3?</p>
      <label><input type="radio" name="question1" value="5">5</label><br>
      <label><input type="radio" name="question1" value="6">6</label><br>
      <label><input type="radio" name="question1" value="7">7</label><br>
  
      <button onclick="checkAnswer(1)">Ответить</button>
    </div>

    <div id="question2" class="question" style="display: none">
      <p>Сколько будет 12 - 10?</p>
      <label><input type="radio" name="question2" value="8">8</label><br>
      <label><input type="radio" name="question2" value="2">2</label><br>
      <label><input type="radio" name="question2" value="0">0</label><br>
  
      <button onclick="checkAnswer(2)">Ответить</button>
    </div>

    <div id="question3" class="question" style="display: none">
      <p>Сколько будет 120 - 110?</p>
      <label><input type="radio" name="question3" value="8">20</label><br>
      <label><input type="radio" name="question3" value="2">0</label><br>
      <label><input type="radio" name="question3" value="0">10</label><br>
  
      <button onclick="checkAnswer(3)">Ответить</button>
    </div>
    
    <div id="question4" class="question" style="display: none">
      <p>Сколько будет 0 - 5?</p>
      <label><input type="radio" name="question4" value="5">5</label><br>
      <label><input type="radio" name="question4" value="-5">-5</label><br>
      <label><input type="radio" name="question4" value="0">0</label><br>
  
      <button onclick="checkAnswer(4)">Ответить</button>
    </div>
    
    <div id='result' style='display:none;'>
      <h2>Результаты:</h2>
      <p id='correctCount'></p>
      <p id='wrongCount'></p>
      <p id='mistakes'></p>
      <button onclick='restartQuiz()'>Начать заново</button>
      <button onclick='goToOtherGames()'>Другие игры</button>
    </div>
  
  </div>
  
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
