<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Примеры</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>
<body>
  <h1>Квиз: Учись решить примеры</h1>
  <div class="question-container">
    
    <div id="question1" class="question">
      <p>Сколько будет 3 + 3?</p>
      <label><input type="radio" name="question1" value="5">5</label><br>
      <label><input type="radio" name="question1" value="6">6</label><br>
      <label><input type="radio" name="question1" value="7">7</label><br>
  
      <button onclick="checkAnswer(1)">Ответить</button>
    </div>

    <div id="question2" class="question" style="display: none">
      <p>Что больше 120 или -120?</p>
      <label><input type="radio" name="question2" value="120">120</label><br>
      <label><input type="radio" name="question2" value="-120">-120</label><br>
  
      <button onclick="checkAnswer(2)">Ответить</button>
    </div>

    <div id="question3" class="question" style="display: none">
      <p>Сколько будет 120 - 110?</p>
      <label><input type="radio" name="question3" value="20">20</label><br>
      <label><input type="radio" name="question3" value="0">0</label><br>
      <label><input type="radio" name="question3" value="10">10</label><br>
  
      <button onclick="checkAnswer(3)">Ответить</button>
    </div>
    
    <div id="question4" class="question" style="display: none">
      <p>Что больше 2 или 5?</p>
      <label><input type="radio" name="question4" value="5">5</label><br>
      <label><input type="radio" name="question4" value="2">2</label><br>
  
      <button onclick="checkAnswer(4)">Ответить</button>
    </div>
    
    <div id="result" style="display: none;">
      <h2>Результат</h2>
      <div class="success">Молодец! Все ответы верны!</div>
      <!-- или -->
      <div class="fail">Есть ошибки, попробуй ещё раз!</div>
      <p>Правильных ответов: 3 из 4</p>
      <button onclick="restartQuiz()">Пройти ещё раз</button>
      <button onclick="goToOtherGames()">Другие игры</button>
    </div>
  
  </div>
  
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
