<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Фигуры</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>У какой фигуры четыре угла?:</h2>
        <button onclick="alert('Правильно!')" class="btn">Квадрат</button>
        <button onclick="alert('Неправильно!')" class="btn">Треугольник</button>
        <button onclick="alert('Неравильно!')" class="btn">Круг</button>
        <button onclick="alert('Неравильно!')" class="btn">Пятиугольник</button>
    </div>
</body>
</html>
