<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index_style.css')}}">
</head>
<body>
    <h1>Выберите раздел:</h1>
    <div class="container">
        <ul class="menu">
            <li><a class="letters" href="/letters">Буквы</a></li>
            <li><a class="numbers" href="/numbers">Цифры</a></li>
            <li><a class="figures" href="/figures">Фигуры</a></li>
            <li><a class="examples" href="/examples">Примеры</a></li>
        </ul>
    </div>
</body>
</html>
