<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css')}}">
</head>

<body>
    <h1>Добро пожаловать в веб-приложение для дошкольников</h1>
    <div class="hello">
        <p class="greetings">Рад видеть вас в своем веб приложении , нажмите кнопку начать что бы перейти к регистрации!</p>
        <a class="begin" href="/register">Начать</a>
        <a class="login" href="/login">Войти</a>
    </div>
</body>
</html>