<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Узнай букву</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>
<body>

<div id="letter">А</div>

<div id="image-container" style="text-align: center; margin: 20px 0;">
  <img src="arbuz.jpg" alt="Картинка" width="200" />
</div>

<div id="buttons">
  <button onclick="checkAnswer('Арбуз')">Арбуз</button>
  <button onclick="checkAnswer('Мяч')">Мяч</button>
  <button onclick="checkAnswer('Зонт')">Зонт</button>
</div>

<div id="result"></div>

<script src="static/js/letters_script.js"></script>
</body>
</html>
