<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Узнай предмет</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/letters.css') }}">
</head>
<body>
  <h1>Квиз: Узнай предмет</h1>
  <div class="question-container">
    
    <div id="question1" class="question">
      
      <img class="arbuz" src="{{ url_for('uploaded_photo', filename='arbuz.jpg') }}">

      <p>Что это за фрукт?</p>
      <label><input type="radio" name="question1" value="Арбуз">Арбуз</label><br>
      <label><input type="radio" name="question1" value="Помидор">Помидор</label><br>
      <label><input type="radio" name="question1" value="Яблоко">Яблоко</label><br>
  
      <button onclick="checkAnswer(1)">Ответить</button>
    </div>

    <div id="question2" class="question" style="display: none">
      
      <img class="road" src="{{ url_for('uploaded_photo', filename='road.jpg') }}">
      
      <p>На какую бувку начинается этот предмет? </p>
      <label><input type="radio" name="question2" value="З">З</label><br>
      <label><input type="radio" name="question2" value="Д">Д</label><br>
  
      <button onclick="checkAnswer(2)">Ответить</button>
    </div>

    <div id="question3" class="question" style="display: none">
      
      <img class="carrot" src="{{ url_for('uploaded_photo', filename='carrot.jpg') }}">
      
      <p>Что это за овощ ? </p>
      <label><input type="radio" name="question3" value="Морковка">Морковка</label><br>
      <label><input type="radio" name="question3" value="Репа">Репа</label><br>
      <label><input type="radio" name="question3" value="Клубника">Клубника</label><br>
  
      <button onclick="checkAnswer(3)">Ответить</button>
    </div>
    
    <div id="question4" class="question" style="display: none">
      
      <img class="helicopter" src="{{ url_for('uploaded_photo', filename='helicopter.jpg') }}">
      
      <p>Что это за транспорт ?</p>
      <label><input type="radio" name="question4" value="Самолет">Самолет</label><br>
      <label><input type="radio" name="question4" value="Вертолет">Вертолет</label><br>
      <label><input type="radio" name="question4" value="2">Катер</label><br>
  
      <button onclick="checkAnswer(4)">Ответить</button>
    </div>
    
    <div id='result' style='display:none;'>
      <h2>Результаты:</h2>
      <p id='correctCount'></p>
      <p id='wrongCount'></p>
      <p id='mistakes'></p>
      <button onclick='restartQuiz()'>Начать заново</button>
      <button onclick='goToOtherGames()'>Другие игры</button>
    </div>
  </div>
  
  <script src="{{ url_for('static', filename='js/letters_script.js') }}"></script>
</html>
