<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Буквы</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Какая буква идет первая в алфавите?:</h2>
        <button onclick="alert('Правильно!')" class="btn">А</button>
        <button onclick="alert('Неправильно!')" class="btn">Б</button>
        <button onclick="alert('Неравильно!')" class="btn">Д</button>
        <button onclick="alert('Неравильно!')" class="btn">У</button>
        <button onclick="alert('Неравильно!')" class="btn">О</button>
        </div>
    </div>
</body>
</html>
