<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Цифры</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Правельно ли идут цифры по возврастанию?
            1,2,3,4,6,7,8,9
        </h1>
        <button onclick="alert('Неправильно, посмотри внимательнее!')" class="btn">Да</button>
        <button onclick="alert('Правильно, молодец!')" class="btn">Нет</button>
    </div>
</body>
</html>
