<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/register.css')}}">
</head>

<body>
    <div class="container" id="container">
        <!-- Регистрация -->
        <div class="form-container sign-up">
            <form method="POST" action="{{ url_for('signup') }}">
                <h1>Создать аккаунт</h1>
                <span>или используйте вашу почту для регистрации</span>
                {% if error %}
                    <div class="error">{{ error }}</div>
                {% endif %}
                <input type="text" name="username" placeholder="Имя пользователя" required>
                <input type="email" name="email" placeholder="Электронная почта" required>
                <input type="password" name="password" placeholder="Пароль" required>
                <button type="submit">Зарегистрироваться</button>
                <button type="button" class="switch-btn" id="toSignIn">Уже есть аккаунт? Войти</button>
            </form>
        </div>
        <!-- Вход -->
        <div class="form-container sign-in">
            <form method="POST" action="{{ url_for('login') }}">
                <h1>Вход</h1>
                <span>Введите вашу почту и пароль</span>
                {% if login_error %}
                    <div class="error">{{ login_error }}</div>
                {% endif %}
                <input type="email" name="email" placeholder="Электронная почта" required>
                <input type="password" name="password" placeholder="Пароль" required>
                <button type="submit">Войти</button>
                <button type="button" class="switch-btn" id="toSignUp">Нет аккаунта? Зарегистрироваться</button>
            </form>
        </div>
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
</html>