<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>

<body>
    <h1>Зарегистрироваться</h1>
    <div class="main">

        <form action="" method="POST" class="create_article_form">
            <div class="form_group">
                <label for="user_name">Имя пользователя</label>
                <input type="text" id="user_name" name="user_name" required>
            </div>
            
            <div class="form_group">
                <label for="user_name">Электронная почта</label>
                <input type="text" id="email" name="email" required>
            </div>

            <div class="form_group">
                <label for="user_name">Пароль</label>
                <input type="password" id="password" name="password" required>
            </div>

            <div class="form_group">
                <label for="user_name">Повторите пароль</label>
                <input type="password" id="password_repeat" name="password_repeat" required>
            </div>
            
            <button type="submit">Зарегистрироваться</button>
            <a href="/home"></a>
    </div>
</body>
</html>